@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body, html{
    font-family: 'Goldman', cursive;
    overflow-x: hidden;
}

.navbar-brand span{
    font-size: 1.4em;
}
.control-label{
    background-color: #0680b1;
}
.control-label span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1em;
}

.control-label svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}


.form-control{
    border-radius: 0 !important;
    outline: none !important;
}
.form-control{
    box-shadow: none!important;
    border: none!important;
}

.form-group button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 75%;
    background-color: #0680b1;
    color:white;
    font-size: 1.1em;
}
.form-group button:hover{
    background-color:  rgb(187, 82, 68);
    color: #ffffff;
}

.form-control::placeholder{
    font-size: 0.em;
}

.display-form input{
    background-color: #84c8e688;
}

.display-form .form-group span{
    background-color: #6ab6d688;
    font-size: 1em;
    color: rgb(57, 58, 58);
}

.edit-button{
    background-color: #07465f;
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -10px;
	right: -10px;
	border-radius: 50%;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    transition: all 0.25s ease-in-out;
}

.edit-button:hover{
    background-color:  rgb(187, 82, 68);
    transform: rotate(35deg);
}

.delete-button{
    background-color: rgb(187, 82, 68);
    border-radius: 0.25rem;
    transition: all 0.25s ease-in-out;
}
.delete-button button{
    color: white;
}

.delete-button:hover{
    background-color: white;
}
@media(max-width: 768px){
    .control-label span{
        font-size: 0.7em;
    }
    svg{
        height: 1.2em;
        width: 1.2em;
    }

    .form-group button{
        height: auto;
    }

    .form-control::placeholder{
        font-size: 0.7em;
    }
}

